<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Econometria I</title>
    <link rel="stylesheet" href="..\static\styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
</head>
<body>
    <header>
        <h1>Econometria I</h1>
    </header>
    <div class="container">
        <nav class="side-menu">
            <ul>
                <li class="menu-item">
                    Conteúdo da P1
                    <ul class="submenu">
                        <li><a href="#">Modelo de Regressão Linear</a></li>
                        <li>
                            <a href="#">Teste de Hipótese</a>
                            <ul class="sub-submenu">
                                <li><a href="#">Estatística de Teste</a></li>
                                <li><a href="#">Valor Crítico (Distribuição T)</a></li>
                                <li><a href="#">P-valor</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="math">\( R^2 \)</span></a>
                            <ul class="sub-submenu">
                                <li><a href="#">SQT</a></li>
                                <li><a href="#">SQE</a></li>
                                <li><a href="#">SQR</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    Conteúdo da P2
                </li>
            </ul>
        </nav>
        <main>
            <section id="introducao">
                <h2>Povão,</h2>
                <p>Esse site é uma iniciativa livre dos estudantes de economia do curso de Ciências Ecômicas da UFF feita em parceria com o monitor do curso de Econometria I (noturno) e com o professor <b>Diego Braga</b>.</p>
                <h3>Conteúdo da P1</h3>
            </section>
            <section id="conteudoP1">
                <h2>P2</h2>
                <p></p>
            </section>
            <section id="videos">
                <h2>Videos</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/z-HSsVARNnk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
            <section id="quizzes">
                <h2>Quizzes</h2>
                <!-- Quizzes content here -->
            </section>
            <section id="t-distribution">
                <h2>T-Distribution Calculator</h2>
                <!-- Calculator content here -->
            </section>
        </main>
        <aside class="side-menu right">
            <h2>Important Notes & News</h2>
            <!-- Notes and news content here -->
        </aside>
    </div>
    <footer>
        <p>&copy; 2024 Professor Diego Braga</p>
    </footer>
    <script src="..\static\script.js"></script>
</body>
</html>
